In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#!pip install xlrd pip install xlrd

In [2]:
# build a model from a dataset we have output power
# use linear regression + other types
# build linear model from 0
# compare what we obtain to an existing library
# implement closed form solution 

# use naming provided ( m - n :(m+1)- w :(n+1) - x -y -X - ) not 6 -5 ect...
#develop smtg as much portable 

#using loops -> avoid in Machine Learning !!!! 

#Gradient : vector

# supervised machine learning problem

In [5]:
#PART 1 : Linear Regression from Scratch

path = '../data/CCPP.xlsx' 

excel_data_df = pd.read_excel(path, sheet_name='Sheet1')
#excel_data_df2 = pd.read_excel(path, sheet_name='Sheet2')
#excel_data_df3 = pd.read_excel(path, sheet_name='Sheet3')
#excel_data_df4 = pd.read_excel(path, sheet_name='Sheet4')
#excel_data_df5 = pd.read_excel(path, sheet_name='Sheet5')
#passage = [excel_data_df, excel_data_df2, excel_data_df3,excel_data_df4,excel_data_df5]
#df = pd.concat(passage)
df =excel_data_df

In [6]:
df

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [7]:
df.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [8]:
#df['AT']

In [9]:
# normalize all
def normalizeFeatures(): 
    normalized_df=(df-df.min())/(df.max()-df.min())
    df.update(normalized_df)
    

def costFunction(X,Y,w):
    hwy = ( np.dot(X, w) - Y)**2
    npSum =  np.sum(hwy)
    J = npSum/(2*len(Y))
    return J
 
def gradientDescent(X,Y,w,a): 
    J_cur =1 
    i =0
    # use precision ?  precision = 0.000001 and a max iteration ? ex 10000
    while i < 100000 and J_cur > 0.00001:
        hwy = np.dot(X, w) - Y    #ℎ𝑤(𝑥(𝑖))−𝑦(𝑖)
        grad = np.dot(X.transpose(),hwy)/len(Y)  
        w = w - a*grad 
        J_cur = costFunction2(X,Y,w)
        i = i+1
    return(w)

In [10]:

# first we normalize our data 
normalizeFeatures()
    
# then as we have multiple features
# we have to concatenate all inputs ( AT - V - AP - RH ) in the X input 
# with PE is the Y output 

# we transform our dataframe into an array 
data = df.to_numpy(dtype='float', na_value=np.nan)    
# we initiate X and Y 
Y = data[:,-1]
X=data[:,:4]
Z =  np.ones_like(data[:,:1])
X = np.append(Z, X, axis=1)

# we need theta w => w0 w1 w2 w3 w4 : ie the 4 columns 

w = [1,1,1,1,1]

# Test the cost function
J = costFunction(X,Y,w)

# Test gradient 
a =0.09
w =gradientDescent(X,Y,w,a)

print(w)

[ 1.09191426 -0.9245856  -0.17412057  0.03322877 -0.15617001]

In [11]:
#PART 2 : Compare to Scikit-Learn
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, r2_score

In [12]:
# FINAL IDEE

def meanAbsoluteError(X,w,Y):
    den = 1/len(Y)
    Sum_er = sum(abs(X.dot(w) - Y)) 
    return Sum_er*den

def rootMeanSquaredError(X,w,Y): 
    den = 1/len(Y)
    # revoir absolut = abs(X.dot(w) - Y).T
    Sum_er = sum(abs(X.dot(w) - Y)**2)
    total =  (Sum_er*den)**(1/2)
    return total

def r2(X,w,Y): 
    SSres = sum(abs(X.dot(w) - Y)**2)
    SStot = sum(abs(Y - np.mean(Y))**2)
    total = 1 - SSres /SStot
    return total

In [13]:
# LINEAR MODEL

lr = linear_model.LinearRegression()
lr.fit(X,Y)
lr.coef_
lr.intercept_
lr.coef_[0] = lr.intercept_

In [14]:

print("MY MODEL: ")

print("Theta coef :  {0} ".format(w))

print("LINEAR MODEL: ")

print("Theta coef :  {0} ".format(lr.coef_))

MY MODEL:
Theta coef :  [ 1.09191426 -0.9245856  -0.17412057  0.03322877 -0.15617001]
LINEAR MODEL:
Theta coef :  [ 1.09191426 -0.9245856  -0.17412057  0.03322877 -0.15617001]

In [15]:
print("MY MODEL: ")

print("mean absolut error :  {0} ".format(meanAbsoluteError(X,w,Y)) )

print("root mean square error :  {0} ".format(rootMeanSquaredError(X,w,Y)) )

print("R2 :  {0} ".format(r2(X,w,Y)) )

print("LINEAR MODEL: ")

print("mean absolut error :  {0} ".format(meanAbsoluteError(X,lr.coef_,Y)) )

print("root mean square error :  {0} ".format(rootMeanSquaredError(X,lr.coef_,Y)) )

print("R2 :  {0} ".format(r2(X,lr.coef_,Y)) )

MY MODEL:
mean absolut error :  0.04801610341193663
root mean square error :  0.06035928499005925
R2 :  0.9286960898122538
LINEAR MODEL:
mean absolut error :  0.04801610341193618
root mean square error :  0.0603592849900594
R2 :  0.9286960898122534

In [16]:
# Part 3: Normal Equation

def NormalEquation(X,Y):
    temp1 = (X.transpose().dot(X))**-1
    temp2 = X.transpose().dot(Y)
    return temp1.dot(temp2)

In [17]:
print("Normal Equation for scratch :  {0} ".format(NormalEquation(X,Y)) )

Normal Equation for scratch :  [2.14388711 4.17229148 4.04695212 4.2572141  3.34595743]